body {
    background-color: blueviolet;
    text-align: center
}

#boardgameimg2 {
    width: 703px;
    border: 2px solid black
}

#boardgameimg3 {
    width: 700px;
    border: 2px solid black
}

#boardgame2section {
    float: right;
    width: auto;
    margin-top: 19px
}

#boardgame3section {
    float: left;
    width: auto;
    margin-top: 19px
}

header {
    background-color: white
}



