body {background-color: rgb(0, 138, 174, 1); text-align: center; font-size: 20px; font-family: Arial}

header {background-color: white; padding-bottom: 50px; padding-top: 50px; width: 800px; margin: auto; margin-top: 20px}
#section1 {background-color: beige ;float: left; margin-top: 30px; margin-left: 10px;border: 2px solid black; width: 35%; margin-bottom: 25px}
img {width: 100%}
#section2 {background-color: beige; float: right; margin-top: 30px; margin-right: 10px; width: 385px}

