<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="stylesheetcalculator.css">
</head>

<body>

<header>
    <h1>
        On this page you can calculate your power level
    </h1>
</header>


<section id="section1"> Input your amount of waste in the form of kg. below

    <div>
        <form method="post" action="calculate">
            <input name="value_1" type="number">

            <input type="submit" value="Calculate">
        </form>

        <p><span th:text="${result1}"/> "kWh Heat pr. kg/waste"</p>
        <p><span th:text="${result2}"/> "kWh Power pr. kg/waste"</p>
        <section id="funFacts">

            <h1> Fun facts about garbage you might not know! </h1>
            <p>The averagve person in the EU creates </p>
            <p>about 505kg of waste each year The averge dane</p><p> creates about 845kg a waste each year</p>
            <bk>Almost 50% more than the average person in the EU</bk>

    <section id="funFacts2">
        <h1> Fun facts part 2</h1>
        <bk>In Denmark, 25% of all heat comes from burning garbage</bk>
        <bk>burning 2kg of garbage creates enough electricity to</bk>
        <bk>vacumclean for 35 min</bk>
        <bk>vestforbrændingen creates enough power for 80000 homes</bk>
        <bk>and enough heat for 75000 homes from burning garbage</bk>
        <bk>melting sodacans and other nonflamable objects can</bk>
        <bk>cause blockades in the ovens, which will make them </bk>
        <bk>unable to reach high temperatures and require repairs</bk>

    </section>


        </section>





        <img id="unlimitedpower" src="unlimitedpower.png">
    </div>
</section>
</body>
</html>