<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's waste, tomorrow's power</title>
    <link rel="stylesheet" href="stylesheettwtp.css">
</head>

<body>
<audio autoplay src="Lofi.mp3" type="audio/mpeg"></audio>

    <header>
        <h1>
            Today's waste, tomorrow's power
        </h1>
    </header>

<section id="section1">
    <img id="factoryimg" src="factory.jpg" alt="factory">
    Når affald ikke længere kan genanvendes fornuftigt, kan dette bruges til, at lave varme og electricitet. Dette gøres ved at afbrænde affald i store ovne ved omkring 1000 grader C. Røgen fra afbrændingen bliver så tilpas varm, at der kan laves varme og electricitet ud af denne.
    Dette gøres ved brug af et turbine anlæg som vises op tegningen ovenfor.
    1)	Først får damen en turbine til at dreje rundt. Turbinen driven en generator med en stor dynamo (magnet) der genere strøm når denne bevæger sig.
    2)	Dampen som kommer ud på den anden siden af turbinen er stadigvæk, så tilpas varm, at denne kan bruges til opvarmning borgernes hjem.  Dampen bruges til at opvarme vand i en stor varmeveksler. Det er et lukket system af rør hvor damen aflevere sin varme til fernvarmevand, der føres ud til borgernes boliger.
    Dampen som nu er forvandlet tilbage til vand, løber tilbage og gentager processen så længe der er varme nok.
    Altså en god måde at bruge, det affald der ikke længere er muligt at genbruge.
</section>


    <section id="section2">
        Something something about ... something else
        <br>
        <br>
        <a href="/boardgame">Visit our boardgame page</a>
        <p><a href="/calculate">click here to calculate your power!</a></p>

    </section>
    </div>

</body>
</html>