<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's waste, tomorrow's power</title>
    <link rel="stylesheet" href="stylesheettwtp.css">
</head>

<body>
    <div id="container">
    <header>
        <h1>
            Today's waste, tomorrow's power
        </h1>
    </header>

    <section id="section1">
        We write something here.
        <br>
        <br>
        The space between the two sections will be adjusted when I know how much text we have.

    </section>
    <section id="section2">
        Something something about ... something else
        <br>
        <br>
        <a href="/boardgame">Visit our boardgame page</a>
    </section>
    </div>

</body>
</html>